# 个人数据
/saves/
/screenshots/
/CustomSkinLoader/
/backups/
/data/
/patchouli_books/
/local/
/defaultconfigs/*
/resourcepacks/*
/config/*

/hotbar.nbt
/options.txt
/jade_handlers.md
# ==========

# 游戏启动数据
/PCL/
/mods/*
/CMC-Alpha1.1-natives/

/CMC-Alpha1.1.json
# ==========

# 开发数据
/logs/
/crash-reports/
/icon-exports-*/
/新建文件夹/
/.idea/
/.vscode/
/fancymenu_data/buddy/buddy_leveling.json
/fancymenu_data/buddy/buddy_save.json
/fancymenu_data/action_favorites.json
/fancymenu_data/last_world.fmdata
/moonlight-global-datapacks/
/kubejs/probe/*
/kubejs/assets/ponderjs_generated/

/heracles_options.json
/rhino.local.properties

/kubejs/jsconfig.json
/kubejs/README.txt
/kubejs/config/probejs.json
# ==========

# 缓存数据
/oei/
/oeb/

/patchouli_data.json
/usercache.json
/usernamecache.json
# ==========

# 二进制文件
*.jar
*.jar.disabled
*.rar
# *.nbt
# ==========

# 允许的文件
!/ldlib/mbd2/*
!/kubejs/probe/docs/*

!*.rt
!*.sm

!/defaultconfigs/chunkbychunk.toml
!/defaultconfigs/cobblefordays-server.toml
!/defaultconfigs/fluxnetworks-server.toml

!resourcepacks/Better Chunk by Chunk v1.4.zip

!/mods/cmc*.jar
# ==========

# 提交的配置
!/config/compressiumblocks.json
!/config/cucumber-client.toml
!/config/extendedcrafting-client.toml
!/config/extendedcrafting-common.toml
!/config/modularrouters-common.toml
!/config/moonlight-client.toml
!/config/moonlight-common.toml
!/config/thermal_integration-common.toml
!/config/thermal_parallel-common.toml
!/config/cable_facades-common.toml
!/config/appflux-common.toml
!/config/amendments-common.toml
!/config/amendments-client.toml
!/config/cofh_core-client.toml
!/config/cofh_core-common.toml
!/config/create-client.toml
!/config/cucumber-common.toml
!/config/ding.toml
!/config/expatternprovider-common.toml
!/config/extendedae_plus.yaml
!/config/fluxnetworks-common.toml
!/config/forgivingvoid-common.toml
!/config/jei_mekanism_multiblocks-client.toml
!/config/scannable-client.toml
!/config/scannable-common.toml
!/config/supplementaries-client.toml
!/config/supplementaries-common.toml
!/config/untranslateditems-client.toml

!/config/oelib
/config/oelib/*
!/config/oelib/oelib_festivals.toml

!/config/functionalstorage
/config/functionalstorage/*
!/config/functionalstorage/functionalstorage-common.toml

!/config/inventoryprofilesnext
/config/inventoryprofilesnext/*
!/config/inventoryprofilesnext/inventoryprofiles.json

!/config/Mekanism
/config/Mekanism/*
!/config/Mekanism/client.toml
!/config/Mekanism/common.toml

!/config/titanium
/config/titanium/*
!/config/titanium/titanium-tags.toml

!/config/jei/
/config/jei/*
!/config/jei/ingredient-list-mod-sort-order.ini
!/config/jei/ingredient-list-type-sort-order.ini
!/config/jei/jei-client.ini
!/config/jei/recipe-category-sort-order.ini

!/config/jade/
!/config/nebula/
!/config/ae2/
!/config/drippyloadingscreen/
!/config/extendedcrafting/
!/config/fancymenu/
!/config/ftbquests/
!/config/heracles/

!/config/openloader/
/config/openloader/*
!/config/openloader/advanced_options.json
!/config/openloader/resources/
/config/openloader/resources/*
!/config/openloader/resources/CMCResources/
# ==========